body{
    animation-name: animate;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

.animate{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: container;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 15;
    overflow: hidden;
}
 
.animate>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animate{
    from{
        background-color: yellow;
    }to { 
        background-color: pink;
    }
}
 
@keyframes animate{
    to{
        background-color: blue;
        transform: translateY(500px) rotate(360deg)
    }from{
        background-color: purple;
        transform: translateY(500px);
    } 
}

.per{
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: all 10s ease;
}

@keyframes color{
    0%{
        background-color: lightblue;
    }
    25%{
        background-color: lightcoral;
    }
    50%{
        background-color: skyblue;
    }
    75%{
        background-color: brown;
    }
    100%{
        background-color: limegreen;
    }
}

.body{
    animation-name: color;
}

@keyframes run{
    0%{
        background-color: lightblue;
        right: 0px;
    }
    25%{
        background-color: brown;
        bottom: 0px;
    }
    50%{
        background-color: yellow;
        left: 0px;
    }
    75%{
        background-color: orange;
        right: 0px;
    }
    100%{
        background-color: limegreen;
        top: 0px;
    }
}