*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    padding: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    div{
        background-color: lightgrey;
        width: 200px;
        height: 200px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px; 
    }
    div>p{
        font-size: 1rem;
        display: none
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    div{
        background-color: red;
        border: 3px dotted purple;
        width: 250px;
        border: 250px;
        border-radius: 50px;
    }
    div>p{
        font-size: 2 rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px){
    div{
        background-color: goldenrod;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

@media screen and (mid-width: 700px) {
    div{
        background-color: purple;
    }
} 